@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.card-hover-effect {
  transition: box-shadow 0.3s ease;
  position: relative;
}

.card-hover-effect.new-meeting:hover {
  box-shadow: 0 0 15px 4px rgba(255, 116, 46, 0.3); /* Subtle orange */
}

.card-hover-effect.join-meeting:hover {
  box-shadow: 0 0 15px 4px rgba(131, 14, 249, 0.3); /* Subtle purple */
}

.card-hover-effect.schedule-meeting:hover {
  box-shadow: 0 0 15px 4px rgba(100, 236, 255, 0.3); /* Subtle blue */
}

.card-hover-effect.view-recordings:hover {
  box-shadow: 0 0 15px 4px rgba(249, 169, 14, 0.3); /* Subtle golden */
}


/* ==== clerk class override ===== */

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #41126A;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 20px solid linear-gradient(135deg, #6A1B9A, #4A148C); 
  background-color: white;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  color: #565761;
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 14px 30px;
  font-size: 18px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.cl-socialButtonsIconButton:hover {
  background-color: #C1C1C1;
  color: #333;
  border-color: linear-gradient(135deg, #6A1B9A, #4A148C);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}


.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}



/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}
